html, body {
    background-color: #dcb6fb;
    background-image: url("https://media0.giphy.com/media/11mTP6nbzOOuti/giphy.gif");
    background-position: center bottom;
    background-repeat:repeat-x;
    background-size: contain;
    background-attachment: fixed; 
    /*background-position: bottom -50px left -50px;
    /*background-repeat: no-repeat; /* Do not repeat the image */
    /*background-size: contain;*/
}

h1 {
    font-family: "Rubik Puddles";
    text-align: center;
    color:  #7ff69b;
    font-size: 60px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 18px;
    color: #dbb5fd;
    font-family: "Rubik Bubbles";
}


label {
    font-family: "Rubik Bubbles";
    font-size: 24px;
}

.form-container {
    background-color:  #7ff69b;
    margin: auto;
    width: 50%;
    border: 3px solid #21e633;
    padding: 10px;
    color: #ffb4cd;
    font-family: "Rubik Puddles";
}

input {
    background-color:  #d3f2f4;
    color: #dcb6fb;
    font-family: "Rubik Bubbles";
    border-color: #21e633; 
    font-size: 16px;
}
/*
.bulleted-drinks{
    text-align: left;
    margin: auto;
    width: 30%;
}
*/

.drink_display {
    background-color: 
    #7ff69b;
    margin: auto;
    width: 50%;
    border: 3px solid #21e633;
    padding: 10px;
    color: #ffb4cd;
    font-family: "Rubik Puddles";
    /*text-align: center; */
}

.your_drinks {
    font-size: 30px;
}

.drink_name {
    font-size: 20px;
}

#ingredients_display {
    font-family: "Rubik Puddles";
    font-size: 20px;
}

.bul_ingred {
    font-family: "Rubik Bubbles";
    font-size: 20px;
}

.drink_name {
    color: #15d822;
    font-size: 30px;
}

.button {
    background-color: #dcb6fb;
    border-color: #f4fbbe;
    color: #f4fbbe;
    font-family: "Rubik Bubbles";
    font-size: 16px;
}

#submit-btn {
    margin: -10px -60px; 
    position:relative;
    top:50%; 
    left:50%;

}

#delete-btn {
    font-size: 15px;
}