{% extends 'base.html' %}

{% block head %}
<title>MIXOLOGIST</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>MIXOLOGIST</h1>

    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class = "{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <div class ="form-container">
        <form id="drinkForm" action ="/" method ='POST' autocomplete="off">
            <h3> Enter the name of your drink </h3>
            <label for="name"> Drink Name: </label>
            <input type ="text" name ="name" required>

            <br>

            <h3> Enter all the ingredients</h3>
            <label for="ingredient_input"> Ingredient: </label>
            <input type="text" id="ingredient_input">
            <button class="button" type="button" id="add_ingredient_btn"> Add Ingredient</button>

            <!-- Display Ingredients-->
            <!-- Bulleted List of added ingredients-->
            <ul id="ingredients_display"></ul>

            <!-- Hide the input, but store the ingredient list as a JSON -->
            <input type="hidden" name ="ingredients" id="ingredients_hidden">

            <br><br>

            <button class="button" type="submit"> Create Drink </button>
        </form>
    </div>

    <br><br>


    <div class="drink_display">
        <h2 class="your_drinks"> Your Drinks! </h2>
        <div class="bulleted-drinks">
            {% if drinks %}
                <ul>
                    {% for drink in drinks %}
                        <li>
                            <strong class="drink_name"> {{ drink.name }} </strong>
                                <ul>
                                    {% for ingredient in drink.get_ingredients() %}
                                        <li class="bul_ingred"> {{ ingredient }}</li>
                                    {% endfor %}
                                </ul>
                                <form action = "{{ url_for('delete_drink', drink_id=drink.id)}}" method="POST">
                                    <button class="button" type="submit" onclick="return confirm('Are you sure you want to delete {{ drink.name}}?');"> Pour out drink into Sink</button>
                                </form>
                                <br>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p> No drinks created yet. Start mixing!</p>
            {% endif %}
        </div>
    </div>
</div>


<!-- JAVASCRIPT -->   
<script>
    let ingredients = [];

    document.getElementById("add_ingredient_btn").addEventListener("click", function() {
        // Make the variables javascript form
        let ingredientInput = document.getElementById('ingredient_input');
        let ingredient = ingredientInput.value.trim();

        if (ingredient && !ingredients.includes(ingredient)) {
             // NO MORE THAN 50 INGREDIENTS - Limit ingredient list to 50 ingredients
            if (ingredients.length >= 50) {
                alert("STOP! No more than 50 ingredients! You might die!");
                return;
            }
            ingredients.push(ingredient)
            updateIngredientsDisplay();
        }
        ingredientInput.value = "";
    });

    function updateIngredientsDisplay() {
        let ingredientsList = document.getElementById('ingredients_display')
        // Clear the list
        ingredientsList.innerHTML = "";

        ingredients.forEach(ing => {
            let point = document.createElement("li")
            point.textContent = ing;
            ingredientsList.appendChild(point);
        }); 
        // UPDATE hidden ingredient input
        document.getElementById('ingredients_hidden').value =JSON.stringify(ingredients);
    }

    // Reset everything when the form is submitted
    document.getElementById("drinkForm").addEventListener("submit", function(event){
        if (ingredients.length === 0) {
            alert("Please add at least one ingredient! Or else you will only be drinking air!")
            // Prevent form submission, if no ingredients exist
            event.preventDefault();
        }
        else {
            // DEBUGGING
           // console.log('Submitting ingredients:', JSON.stringify(ingredients));
            document.getElementById('ingredients_hidden').value = JSON.stringify(ingredients);
            document.getElementById("drinkForm").submit();
        }
    });
</script>

{% endblock %}


